<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>456501963049-hvq2ochktr4o9grp5tnodil4ak21orjq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.456501963049-hvq2ochktr4o9grp5tnodil4ak21orjq</string>
	<key>API_KEY</key>
	<string>AIzaSyDCDUCRlOD8_JVMqtkx3wgwoFUQGh2ZAbs</string>
	<key>GCM_SENDER_ID</key>
	<string>456501963049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.horovisionProject</string>
	<key>PROJECT_ID</key>
	<string>horovision-itds283</string>
	<key>STORAGE_BUCKET</key>
	<string>horovision-itds283.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456501963049:ios:be34eb2c636c855eee6f38</string>
</dict>
</plist>